/* livvic-regular - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/livvic-v13-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/livvic-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-500 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/livvic-v13-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/livvic-v13-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-600 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/livvic-v13-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/livvic-v13-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/livvic-v13-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/livvic-v13-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.29s;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: Livvic !important;
}
/* All cllas Start! */
.hr {
  width: 50px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #79c8c7;
}
.fn-fam {
  font-family: Livvic;
}
.fns-italic {
  font-style: italic;
}
.fn-sz-18 {
  font-size: 18px;
}
.fn-sz-15 {
  font-size: 15px;
}
.fn-sz-13 {
  font-size: 13px;
}
.fn-we-500 {
  font-weight: 500;
}
.fn-we-600 {
  font-weight: 600;
}
.fn-we-700 {
  font-weight: 700;
}
.mt-16 {
  margin-top: 16px;
}
.mt-14 {
  margin-top: 14px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-32 {
  margin-top: 32px;
}
.mb-56 {
  margin-bottom: 56px;
}
.ln-ht-28 {
  line-height: 28px;
}
.ln-ht-18 {
  line-height: 18px;
}
.ln-ht-25 {
  line-height: 25px;
}
.clr-white {
  color: #ffffff;
}
.bg-clr-red {
  background-color: #f67e7e;
}
.clr-red {
  color: #f67e7e;
}
.clr-gray {
  color: #79c8c7;
}
.bg-clr-all {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.man-img-radius {
  height: 62px;
  width: 62px;
  border-radius: 50%;
}
.nav-link-hover:hover {
  color: #f67e7e;
}
.contact-us-nav:hover {
  background-color: #fff;
  color: #002529;
}
/* All cllas end! */
.header-bg {
  width: 100%;
  background-color: #014e56;
  position: relative;
}
.header-oval-one {
  position: absolute;
  top: 250px;
  left: 0;
}
.header-oval-two {
  position: absolute;
  right: 165px;
  bottom: 0;
}
.max-wdth {
  max-width: 1110px;
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  width: 100%;
  padding-top: 77px;
  padding-bottom: 133px;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}
.nav-list-box {
  display: flex;
  align-items: center;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 80px;
  gap: 40px;
}
.nav-link {
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-decoration: none;
  color: #ffffff;
}
.contact-us-nav {
  display: inline-block;
  text-align: right;
  padding: 9px 33px 11px 32px;
  border: 2px solid #ffffff;
  border-radius: 24px;
}
.myteam-info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 250px;
}
.info-text-box {
  width: 65%;
  padding-top: 80px;
  position: relative;
}
.info-title-box {
  padding-right: 55px;
}
.info-title {
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
  letter-spacing: 0px;
  text-align: left;
}
.build-bg {
  width: 100%;
  background-color: #012f34;
  padding-top: 140px;
  position: relative;
  padding-bottom: 110px;
}
.build-box-one {
  width: 50%;
}
.build-box-two {
  width: 50%;
}
.build-max-wdth {
  display: flex;
  padding-top: 54px;
  position: relative;
  /* gap: 10px; */
}
.build-title {
  font-family: Livvic;
  font-size: 48px;
  line-height: 48px;
}
.build-oval-one {
  position: absolute;
  right: 0;
  bottom: 0;
}
.build-row {
  display: flex;
  gap: 23px;
  margin-bottom: 32px;
}
.employes-bg {
  background-color: #004047;
}
.employes-oval-left {
  position: absolute;
  left: 0;
  top: 0;
}
.employes-oval-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.employes-title-box {
  width: 81%;
  margin-left: auto;
  margin-right: auto;
}
.employes-title {
  font-size: 48px;
  text-align: center;
}
.employes-row {
  padding-top: 140px;
  padding-bottom: 140px;
}
.employes-cards-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  /* padding-bottom: ; */
}
.employes-card {
  width: 30%;
  text-align: center;
  position: relative;
  padding-top: 36px;
  background-image: url("../images/svg/qoshtrnoq.svg");
  background-repeat: no-repeat;
  background-position-x: center;
}
.employes-qoshtroq {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
}
.ready-bg {
  background-color: #f67e7e;
}
.ready-oval-left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.ready-box-max {
  padding: 76px 0;
}
.ready-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ready-title {
  font-family: Livvic !important;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}
.contact-us-fot {
  padding: 9px 33px 11px 32px;
  border: 2px solid #012f34;
  border-radius: 24px;
  text-decoration: none;
  color: #012f34;
}
.contact-us-fot:hover {
  color: #fff;
  background-color: #012f34;
  border-color: #012f34;
  cursor: pointer;
}
.footer-row-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 0;
}
.footer-bg {
  background-color: #002529;
}
.logo-and-info-box {
  display: flex;
  gap: 125px;
}
.fot-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}
.fot-link {
  text-decoration: none;
}
.fot-logo {
  margin-bottom: 25px;
}
.fot-info-text {
  opacity: 60%;
}
.fot-icons-text {
  opacity: 60%;
  text-align: right;
}
.fot-icons-box {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: end;
  margin-bottom: 50px;
}
.fot-icons:hover {
  fill: red !important;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media (max-width: 1150px) {
  .max-wdth {
    width: 800px !important;
  }
  .header-oval-one {
    display: none;
  }
}
@media (max-width: 900px) {
  .max-wdth {
    /* width: 600px !important; */
    display: flex;
    flex-direction: column;
  }
  .myteam-info {
    display: flex;
    flex-direction: column;
  }
  .employes-cards-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fn-sz-18 {
    font-size: 15px;
  }
  .info-title {
    font-size: 64px;
  }
  .build-title {
    font-size: 30px;
  }
  .employes-title {
    font-size: 30px;
  }
  .ready-title {
    font-size: 32px !important;
  }
}
@media (max-width: 768px) {
  .max-wdth {
    width: 683px !important;
    display: flex;
    flex-direction: column;
  }
  .myteam-info {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    gap: 0;
  }
  .employes-cards-row {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  .info-text-box {
    padding-top: 24px;
    text-align: center !important;
  }
  .info-title-box {
    padding: 0 45px;
    text-align: center !important;
  }
  .fn-sz-18 {
    font-size: 15px;
  }
  .info-title {
    font-size: 64px;
    text-align: center;
  }
  .info-text {
    text-align: center;
  }
  .build-title {
    font-size: 32px;
  }
  .employes-title {
    font-size: 30px;
  }
  .hr-none {
    display: none;
  }
  .ready-title {
    font-size: 32px !important;
  }
  .ready-box-max {
    padding: 94px 0 !important;
    padding-top: 76px !important;
  }
  .build-box-one {
    width: 75%;
  }
  .build-box-two {
    width: 100%;
  }
  .build-oval-one {
    top: 0;
  }
  .build-max-wdth {
    gap: 60px;
  }
  .footer-row-box {
    display: flex !important;
    align-items: stretch !important;
    justify-content: space-between !important;
  }
  .logo-and-info-box {
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 34px !important;
  }
  .fot-icons-box {
    display: flex !important;
    justify-content: start !important;
    position: relative !important;
  }
  .fot-icons-text {
    top: 0 !important;
  }
}
@media (max-width: 690px) {
  .max-wdth {
    width: 600px !important;
  }
  .nav-list {
    display: none !important;
  }
}
@media (max-width: 630px) {
  .max-wdth {
    width: 530px !important;
  }
  .employes-card {
    width: 100%;
  }
}
@media (max-width: 570px) {
  .max-wdth {
    width: 450px !important;
  }
  .info-title {
    font-size: 48px;
    line-height: 45px;
  }
}
@media (max-width: 460px) {
  .max-wdth {
    width: 360px !important;
  }
  .info-title {
    font-size: 42px;
  }
  .my-logo {
    width: 140px;
  }
  .build-row {
    flex-direction: column;
    text-align: center;
  }
  .build-row img {
    width: 72px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 375px) {
  .max-wdth {
    width: 320px !important;
  }
  .info-title {
    font-size: 42px;
  }
  .my-logo {
    width: 120px !important;
  }
  .contact-us-nav {
    display: none !important;
  }
  .info-text-box {
    width: 100%;
  }
  .build-row {
    flex-direction: column;
    text-align: center;
  }
  .build-row img {
    width: 72px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-oval-two {
    /* width: 250px; */
    left: auto;
    right: auto;
  }
  .ready-box {
    flex-direction: column;
    text-align: center;
    padding-bottom: 5px;
  }
  .footer-row-box {
    flex-direction: column !important;
  }
  .logo-and-info-box {
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }
  .fot-list {
    display: flex !important;
    justify-content: center !important;
  }
  .fot-icons-box {
    justify-content: center !important;
    margin-bottom: 16px !important;
  }
  .footer-icons-box {
    text-align: center !important;
  }
}
/* @media (max-width:375px){
  
} */
