.meet-bg-box {
  background-color: #004047;
  padding: 140px 0;
}
.meet-oval-left {
  position: absolute;
  left: 0;
  top: 0;
}
.meet-oval-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* .meet-max-wdth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
.meet-cards-box {
  /* width: ; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 48px;
}
.met-cards {
  position: relative;
  padding-bottom: 28px;
}
.meet-title {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 64px;
}
.met-crd-txt-box {
  width: 350px;
  text-align: center;
  padding: 32px 24px;
  padding-bottom: 56px;
  background-color: #012f34;
}
.met-crd-txt-box-pd-70 {
  padding-bottom: 70px !important;
}
.met-crd-rds-box {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f67e7e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 147px;
  cursor: pointer;
}
/* .met-cards-plus-icon{

} */
.met-crd-rds-box:hover {
  animation-name: animate_met_chek_box;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.ixs-box:hover {
  background-color: #f67e7e !important;
}

/* Animation Start ! */
@keyframes animate_met_chek_box {
  0% {
    background-color: #f67e7e;
  }
  10% {
    background-color: #d14141;
  }
  30% {
    background-color: #8d2323;
  }
  50% {
    background-color: #41d466;
  }
  80% {
    background-color: #41d4d4;
  }
  100% {
    background-color: #79c8c7;
  }
}
/* Animation end ! */
/* Clients Start! */
.clients-bg {
  background-color: #012f34;
  padding: 140px 0;
}
.clients-oval-left {
  position: absolute;
  top: 0;
  left: 0;
}
.clients-max-width {
  text-align: center;
}
.clients-box {
  display: flex;
  gap: 80px;
  align-items: center;
  margin-top: 70px;
}
.clients-logo {
  width: 165px;
  /* height: 28px; */
}
/* Clients end! */
@media (max-width: 1150px){
  .clients-box{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    
  }
}
@media (max-width: 784px){
  .max-wdth {
    width: 703px !important;
    display: flex;
    flex-direction: column;
  }
  .met-crd-rds-box{
    left: 112px !important;
    right: 112px !important;
  }
}
@media (max-width: 768px){
  .max-wdth {
    width: 623px !important;
    display: flex;
    flex-direction: column;
  }
  .meet-cards-box{
    gap: 11px;
    justify-content: center;
  }
  .met-crd-txt-box{
    width: 281px;
  }
  .clients-oval-left{
    top: -100px;
  }
  .clients-logo{
    width: 100px;
  }
  .clients-max-width{
    width: 689px !important;
  }
  .clients-box{
    gap: 49px;
    justify-content: space-between;
  }
  .clients-logo-end{
    width: 61px;
  }
  @media (max-width: 630px ){
    .max-wdth{
      width: 540px !important;
    }
    .header-oval-two-about{
      bottom: -10%;
    }
    .meet-oval-left-about{  
      top: -4.9%;
    }
  }
}
  @media (max-width: 550px ){
    .max-wdth{
      width: 470px !important;
    }
  }
  @media (max-width: 480px ){
    .max-wdth{
      width: 420px !important;
    }
    .clients-oval-left-about{
      left: -21%;

    }
  }
  @media (max-width: 435px ){
    .max-wdth{
      width: 320px !important;
    }
    .contact-us-nav{
      display: none;
    }
    .ready-oval-left-about{
      bottom: -7.6%;
    }
    .ready-box{
      text-align: center;
      flex-direction: column;
    }
  }
  @media (max-width: 380px ){
    .max-wdth{
      width: 280px !important;
    }
    /* .contact-us-nav{
      display: none;
    }
    .ready-oval-left-about{
      bottom: -7.6%;
    }
    .ready-box{
      text-align: center;
      flex-direction: column;
    } */
  }
